<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Server</title>
  <!-- <link rel="stylesheet" src="./styles/sqlz.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/arrow-line/dist/arrow-line.min.js"></script>

  <style>
    body {
      font-family: "Reddit Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      background-color: rgb(58, 55, 55);
    }

    .rate {
      position: absolute;
      /* left: 20rem; */
      right: 1rem;
    }

    a {
      text-decoration: none;
    }

    img {
      width: 20px;
      height: 20px;
    }


    * {
      box-sizing: border-box;
    }

    /* Create a two-column layout */
    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }


    table {
      border-collapse: collapse;
      /* margin: auto; */
      background-color: rgb(252, 252, 216);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .table-name {
      /* text-align: center; */
      color: whitesmoke;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #d6eeee;
    }

    .flag {
      color: white;
      border-radius: 5px;
      text-decoration: none;
      border: none;
      font-weight: bold;
    }
  </style>

</head>

<body>
  <!-- <div class="rate">
    <a class="contribute" href="https://github.com/Bhanu-code/dbdrawer-sqlz">
      <img src="../github.svg" alt="">contribute
    </a>
    <a class="start" href="https://github.com/Bhanu-code/dbdrawer-sqlz">
      <img src="../star.png" alt="">give a star
    </a>
  </div> -->

  <div class="row">
    <% data.forEach(entry=> { %>
      <div class="column">
        <table>
          <thead>
            <tr>
              <h2 class="table-name">
                <% let currentmodel=entry[0].Model.getTableName() %>
                  <%= currentmodel %>
              </h2>
            </tr>
          </thead>
          <tr>
            <% entry.forEach(item=>{ %>

              <td>
                <% let fieldName=item.fieldName %>
                  <%= fieldName %>
              </td>
              <td>
                <%= item.type %>
              </td>

              <% if(item.allowNull===true){ %>
                <td>
                  <button class="flag" style="background-color:rgb(248, 252, 59)">allowNull</button>
                </td>
                <% } %>

                  <% if(item.required===true){ %>
                    <td>
                      <button class="flag" style="background-color:rgb(93, 204, 89)">required</button>
                    </td>
                    <% } %>

                      <% if(item.autoIncrement===true){ %>
                        <td>
                          <button class="flag" style="background-color:rgb(243, 74, 52)">autoIncrement</button>
                        </td>
                        <% } %>

                          <% if(item.unique===true){ %>
                            <td>
                              <button class="flag"
                                style="background-color:rgb(42, 241, 241); color: black;">unique</button>
                            </td>
                            <% } %>

                              <% if(item.primaryKey===true){ %>
                                <td id="st">
                                  <button class="flag" style="background-color:blue">primary key</button>
                                </td>
                                <% } %>

                                  <% if(item.references){ %>
                                    <% let refmodel=item.references.model %>
                                      <% let key=item.references.key %>
                                        <% let id=currentmodel+fieldName %>

                                          <td id="end">
                                            <button class="flag"
                                              style="background-color:rgb(208, 42, 241); color:rgb(65, 61, 61)">
                                              references <%= refmodel %>.
                                                <%= key %>
                                            </button>
                                          </td>
                                          <% } %>

          </tr>
          <% }) %>

        </table>
      </div>
  </div>
  <% }) %>
    </div>

    <script>

      setInterval(() => {
        location.reload()
      }, 2000);
    </script>
</body>

</html>